@use "variables" as *;

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &.hidden {
    display: none;
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid $hightlight;
  border-top-color: $primary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto $m-md;

  &-content {
    background-color: #242424;
    padding: $p-lg;
    border-radius: 8px;
    text-align: center;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
